<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ccdde9c4-82d8-4bcf-985b-74bb3db387c1/resourceGroups/rgProject2/providers/Microsoft.Web/sites/CMPG32325023055API</ResourceId>
    <ResourceGroup>rgProject2</ResourceGroup>
    <ApiResourceId>/subscriptions/ccdde9c4-82d8-4bcf-985b-74bb3db387c1/resourceGroups/rgProject2/providers/Microsoft.ApiManagement/service/CMPG32325023055APIapi/apis/connectedoffice</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cmpg32325023055api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c0d16d5a-1f88-49db-ba9d-60a87100d4da</ProjectGuid>
    <MSDeployServiceURL>cmpg32325023055api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CMPG32325023055API</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CMPG32325023055API</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>